AWS_ACCESS_KEY_ID={{ vault_qdrant_backup_aws_access_key_id | quote }}
AWS_SECRET_ACCESS_KEY={{ vault_qdrant_backup_aws_secret_access_key | quote }}
AWS_DEFAULT_REGION={{ qdrant_backup_aws_region | quote }}
QDRANT_BACKUP_S3_BUCKET={{ qdrant_backup_s3_bucket | quote }}
QDRANT_BACKUP_S3_PREFIX={{ qdrant_backup_s3_prefix | quote }}
QDRANT_BACKUP_RETENTION_KEEP={{ qdrant_backup_retention_keep | quote }}
QDRANT_BACKUP_STATE_DIR={{ qdrant_backup_state_dir | quote }}
QDRANT_BACKUP_LIB_DIR={{ qdrant_backup_lib_dir | quote }}
QDRANT_BACKUP_SSH_CONFIG={{ qdrant_backup_ssh_config_file | quote }}
QDRANT_BACKUP_SLACK_WEBHOOK_URL={{ vault_qdrant_backup_slack_webhook_url | default('') | quote }}
QDRANT_BACKUP_SLACK_CHANNEL={{ qdrant_backup_slack_channel | quote }}
