[defaults]
inventory               = inventories/production
roles_path              = roles
collections_path        = collections
host_key_checking       = True
forks                   = 10
gathering               = smart
stdout_callback         = default
callback_result_format  = yaml
retry_files_enabled     = False
interpreter_python      = /usr/bin/python3
deprecation_warnings    = True
display_skipped_hosts   = False
nocows                  = True

[ssh_connection]
pipelining = True
ssh_args   = -o ControlMaster=auto -o ControlPersist=60s -o ServerAliveInterval=30 -o StrictHostKeyChecking=accept-new

[privilege_escalation]
become        = True
become_method = sudo
become_user   = root
